@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body {
    font-family: 'Orbitron', sans-serif;
    color: #ff0000;
    font-size: 42px;
    background-color: #07060a;
    text-align: center;
}

img {
    max-width: 100%;
}

#fire {
    cursor: pointer;
}