@charset "UTF-8";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}

div#div1 {
    text-align: center;
    width: 500px;
    height: 320px;
    margin: 10% auto 0px auto;
    background-color: 0px 0px 10px rgb(26, 133, 127);
    padding: 00px;
    box-shadow: 7px 7px 7px 7px black;
    border-radius: 10px;
}

h1 {
    width: 500px;
    font-weight: bold;
    background-color: #9fb9fc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h1#res {
    width: 200px;
    height: 50px;
    font-weight: bold;
    background-color: #f58e8e;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: 150px;
    top: 90px;
}